.glow {
  font-size: 35px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b22222, 0 0 40px #b22222, 0 0 50px #b22222, 0 0 60px #b22222, 0 0 70px #b22222;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b22222, 0 0 50px #b22222, 0 0 60px #b22222, 0 0 70px #b22222, 0 0 80px #b22222;
  }
}

